albumentations
numpy
pandas
pytorch-lightning
Pillow
torch==1.7.1+cu110
torchvision==0.8.2+cu110
matplotlib
hydra-core==1.1.0.dev3
pyyaml
diplib
scikit-image
tqdm
scipy
setuptools
omegaconf
fire
opencv-python
